body, h1, h2, h3, h4, h5, h6, td {
   font-family: 'Open Sans', sans-serif;
   background-color: white;
   font-size: 12px;
   margin: 2px;
}

#cite {
    font-size: 0.5em; color: #B8B8B8; text-align: right; margin-top:1px; margin-right:3px; padding-bottom: 5px;
}
#cite a { text-decoration: none; color: #821122; }
    
.descr {
 font-size: 0.8em; margin-left:1px; color: #707070;
}
    
h1 {
   font-size:2em;
}

h2 {
   font-size:1.5em;
   font-weight: lighter;
   line-height: 115%;
}

h3 {
   font-size:1.2em
}

h4 {
   font-size:1.1em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}
    

a:visited {
   color: rgb(50%, 0%, 50%);
}



#container {
    margin:1px 0%;
    height:100%;
    overflow:hidden;
}

.axis path, .axis line 
{
    stroke-width: 0.5;
    stroke: #52525B;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

path {
    pointer-events: all;
    stroke: #e2e2e2;
    stroke-width: 0.5;
    fill: none;
}

path.current, path.highlight.current {
    stroke: #000;
    stroke-width: 1.7;
}
.SAS.highlight,.ECS.highlight,.MEA.highlight,.SSF.highlight,.LCN.highlight,.EAS.highlight,.NAC.highlight 
{ stroke: #be1932; }
.highlight { stroke-width: 1px; } 


#filters {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}
#filters a {
    color: #000;
    font-size: 9px;
    padding: 3px;
    background: #e2e2e2;
    cursor: pointer;
    margin-right: 3px;
}
#filters a:last-child {
    margin-right: 0;
}
#filters a.highlight { background: #be1932; color: #fff; }


#blurb {
    height:60px;
    border-top: 1px solid #e2e2e2;
    padding-top: 5px;
    line-height: 0.1em;
}

#cite { font-size: 0.8em; text-align: right; margin-top:10px; padding-bottom: 20px; }
#cite a { background: #e2e2e2; text-decoration: none; color: #821122; }

