body, div, legend {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Cardo', serif;
}
h1 {
    font-family: 'Cardo', serif;
    font-size: 2em;
    line-height: 1em;
}
h2 {
    font-family: 'Cardo', serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
p { line-height: 1.2em; margin-bottom: 1.0em; }
a { color: #821122; }


.axis path, .axis line 
{
    stroke-width: 0.5;
    stroke: #52525B;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 12px;
}

path {
    pointer-events: all;
    stroke: #e2e2e2;
    stroke-width: 0.5;
    fill: none;
}

path.current, path.highlight.current {
    stroke: #000;
    stroke-width: 1.7;
}
.SAS.highlight,.ECS.highlight,.MEA.highlight,.SSF.highlight,.LCN.highlight,.EAS.highlight,.NAC.highlight 
{ stroke: #be1932; }
.highlight { stroke-width: 1px; } 

#content {
    width: 740px;
    margin: 0 auto;
}

#filters {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}
#filters a {
    color: #000;
    font-size: 9px;
    padding: 3px;
    background: #e2e2e2;
    cursor: pointer;
    margin-right: 3px;
}
#filters a:last-child {
    margin-right: 0;
}
#filters a.highlight { background: #be1932; color: #fff; }


#blurb {
    height:60px;
    border-top: 1px solid #e2e2e2;
    padding-top: 5px;
    line-height: 0.1em;
}

#cite { font-size: 0.8em; text-align: right; margin-top:10px; padding-bottom: 20px; }
#cite a { background: #e2e2e2; text-decoration: none; color: #821122; }

